@(specs: Seq[String])(implicit flash: Flash)

<!DOCTYPE html>
<html lang="en">
<head>
    <title>MadMapper</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/custom.css")">

    </head>
    <body>
        <div class="container">
            <h2>Specifications</h2>

            @flash.get("message").map { msg =>
                <div class="info">@msg</div>
            }

            <table class="table">
                @for(spec <- specs) {
                    <tr>
                        <td>
                            <a href="@routes.SpecController.load(spec)">@spec</a>
                        </td>
                        <td>
                            <a href="@routes.SpecController.generate(spec)">generate</a>
                        </td>
                        <td>
                            <a href="@routes.SpecController.validate(spec)">validate</a>
                        </td>
                    </tr>
                }
            </table>

            <form action="@routes.SpecController.newSpec" method="post">
                <input type="text" name="specName" />
                <input type="submit" value="New" />
            </form>
        </div>
    </body>
</html>
